[push]
    default = simple
[alias]
    br = branch
    co = checkout
    cm = commit
    f = fetch
    h = log --pretty=format:'%C(yellow)%h%Creset %cd | %s%C(yellow)%d%Creset %C(red)(%an, %cr)%Creset' --graph --date=short
    hb = log --pretty=format:'%C(yellow)%h%Creset %cd | %s%C(yellow)%d%Creset %C(red)(%an, %cr)%Creset' --graph --date=short ad40478d1cac4b95c70c179befb02516f0e728ac..HEAD
    hist = log --pretty=\"format:%C(blue)%h%C(red)%d%C(yellow) %s %C(green)%an%Creset, %ar\" --graph
    ignored = !git ls-files -v | grep "^[[:lower:]]"
    po = remote prune origin
    pod = remote prune origin --dry-run
    praise = blame
    r = rebase
    s = status
    ulog = log @{u}
    pf = push --force-with-lease
    p = push
    cp = cherry-pick
    rc = rebase --continue
[color]
    ui = always
    diff = always
[pull]
    rebase = true
[merge]
    conflictstyle = diff3
