# This config expects `diff-so-fancy` to be installed.
# See https://github.com/so-fancy/diff-so-fancy

[user]
    name = Adrian Schmidt
    email = adrian.schmidt@lime.tech
	signingkey = E3CCC1456D4A34F3
[push]
    default = simple
[alias]
    br = branch
    co = checkout
    f = fetch --prune # Fetch all remotes and prune deleted branches.
    ignored = !git ls-files -v | grep "^[[:lower:]]"
    po = remote prune origin # Delete all local copies of upstream branches which no longer exist upstream.
    pod = remote prune origin --dry-run
    praise = blame
    r = rebase
    s = status
    pf = push --force-with-lease
    p = push
    cp = cherry-pick
    cm = cz
    cmm = commit -m
    rc = rebase --continue
    fix = commit --fixup
    d = diff
    a = add -A
    ds = diff --staged
    find = log --all --grep
    h = log --pretty=\"format:%C(blue)%h%C(yellow) %s %C(green)%an%Creset, %ar%C(red)%d\" --graph
    hm = h main..HEAD
    hu = h HEAD..@{u}
    ulog = log HEAD..@{u}
    hb = h beta..HEAD
    amend = commit --amend
    fetchNotes = fetch origin refs/notes/*:refs/notes/*
	diff-svg = difftool -t lukaj -y
[color]
    ui = always
    diff = always
[pull]
    rebase = true
[merge]
    conflictstyle = diff3 # Show not only the two current versions, but also their latest common ancestor. Makes it much easier to see what has changed in each current version.
[core]
    excludesfile = ~/.gitignore_global # This is the global .gitignore file.
    pager = diff-so-fancy | less --tabs=4 -RFX
    hooksPath = ~/.git-templates/hooks/
[rebase]
    autosquash = true # Love this! When running an interactive rebase, it automatically moves commits made with `git commit --fixup` or `--squash` to the correct line, and marks them with `fixup` and `squash` respectively.
    missingCommitsCheck = error
[color "diff-highlight"]
    oldNormal = red bold
    oldHighlight = red bold 52
    newNormal = green bold
    newHighlight = green bold 22
[color "diff"]
    meta = 11
    frag = magenta bold
    commit = yellow bold
    old = red bold
    new = green bold
    whitespace = red reverse
[diff-so-fancy]
    stripLeadingSymbols = false
[gpg]
    program = gpg
[init]
    defaultBranch = main
[commit]
    gpgsign = true
[credential]
    helper = osxkeychain
[difftool "lukaj"]
	cmd = ~/.cargo/bin/lukaj -s 5 \"$LOCAL\" \"$REMOTE\"
