"*":
  "atom-typescript": {}
  core:
    allowPendingPaneItems: false
    audioBeep: false
    disabledPackages: [
      "whitespace"
    ]
    projectHome: "~/src"
    telemetryConsent: "limited"
  editor:
    fontFamily: "CenturySchoolbookBT Nerd Font, Menlo, Consolas, DejaVu Sans Mono, monospace"
    fontSize: 13
    scrollPastEnd: true
    softWrapAtPreferredLineLength: true
    tabLength: 4
  "exception-reporting":
    userId: "70334d72-d310-4718-a8ef-999ff0e42029"
  "tree-view": {}
  welcome:
    showOnStartup: false
".mdxjs.source":
  editor:
    softWrap: true
